// Edit

<template>
<div>
    <h1>Edit dorm</h1>
    <form @submit.prevent="updateDorm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="post.name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Code:</label>
                    <input type="text" class="form-control" v-model="post.code">
                </div>
            </div>
        </div>

        <br />
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
</template>

<script>
    export default {

      data() {
        return {
          post: []
        }
      },
      created() {
        
        let uri = `http://vueschool.test/api/dorms/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data.dorm;
            console.log(response.data)
        });
      },
      methods: {
        updateDorm() {

           let uri = `http://vueschool.test/api/dorms/update/${this.$route.params.id}`;
          this.axios.put(uri, this.post).then((response) => {
          if(response.data.status){
            alert(response.data.message)
            this.$router.push({name: 'viewdorms'});
          }else{
            this.$router.push({name:"viewdorms"});
          }
          }).catch(error=>{
            alert('There was an error while updating');
            this.$router.push({name:"viewdorms"});
          });
        }
      }
    }
</script>