// IndexComponent.vue

<template>
  <div>
      <h1>Dorms</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
     <router-link :to="{ name: 'createdorm' }" class="btn btn-primary">Add new dorm</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="post in dorms" :key="post.id">
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.code }}</td>
                 
                    <td><router-link :to="{name: 'editdorm', params: { id: post.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button></td> 
                    
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
 export default {
      data() {
        return {
          dorms: []
        }
      },
      mounted() {
      let uri = 'api/dorms';
      this.axios.get(uri).then(response => {
        this.dorms = response.data.list;
        
      });
    },
    methods: {
      deletePost(id)
      {
        let uri = `api/dorms/delete/${id}`;
        this.axios.delete(uri).then(response => {
          this.dorms.splice(this.dorms, 1);
           this.$router.push({name: 'viewdorms'});
        });
      }
    }
  }
</script>