<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">

                    <router-link to="/dashboard" class="nav-link">Dashboard</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/create" class="nav-link">Add Student</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/view" class="nav-link">Students</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/createdarasa" class="nav-link">Add Class</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/viewdarasas" class="nav-link">view classes</router-link>
                </li>

                <li class="nav-item">
                    <router-link to="/createdorm" class="nav-link">Add Dorm</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/viewdorms" class="nav-link">view dorms</router-link>
                </li>
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" v-on:click="logout()">Logout</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-view></router-view>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    methods: {
        logout() {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = 'api/auth/logout';
            this.axios.get(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                localStorage.removeItem('token');
                this.$router.push({
                    name: 'login'
                });
            }).catch(error => {
                localStorage.removeItem('token');
                this.$router.push({
                    name: 'login'
                });
            });
        }
    },
}
</script>
