// CreatePost.vue

<template>
<div>
    <h1>Add new class</h1>
    <form @submit.prevent="addClass">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="post.name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Class code:</label>
                    <input type="text" class="form-control" v-model="post.code">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fee:</label>
                    <input type="text" class="form-control" v-model="post.fee">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</template>

<script>
export default {
    data() {
        return {
            post: {}
        }
    },
    methods: {
        addClass() {
            let uri = 'api/darasas';
            this.axios.post(uri, this.post).then((response) => {
               if(response.data.status){
                  alert(response.data.message)
              this.$router.push({name:'viewdarasa'});
               }else{
                  alert(response.data.message)
               }
            }).catch(error=>{
             alert('Error')
           });
        }
    }
}
</script>