// Edit

<template>
<div>
    <h1>Edit classes</h1>
    <form @submit.prevent="updateDarasa">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="post.name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Code:</label>
                    <input type="text" class="form-control" v-model="post.code">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fee:</label>
                    <input type="text" class="form-control" v-model="post.fee">
                </div>
            </div>
        </div>

        <br />
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
</template>

<script>
    export default {

      data() {
        return {
          post: {}
        }
      },
      created() {
        let uri = `api/darasas/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data.darasa;
            console.log(response.data.darasa)
        });

      },
      methods: {
        updateDarasa() {
          let uri = `api/darasas/update/${this.$route.params.id}`;
          this.axios.put(uri, this.post).then((response) => {
            if(response.data.status){
                alert(response.data.message)
                this.$router.push({name:'viewdarasa'});
            }else{
                alert(response.data.message)
            }
          }).catch(error=>{
              alert('Error');
          });
        }
      }
    }
</script>