// IndexComponent.vue

<template>
  <div>
      <h1>Classes</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
     <router-link :to="{ name: 'createdarasa' }" class="btn btn-primary">Add new class</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Fee</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="post in darasas" :key="post.id">
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.code }}</td>
                    <td>{{ post.fee }}</td>
                 
                    <td><router-link :to="{name: 'editdarasa', params: { id: post.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button></td> 
                    
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
 export default {
      data() {
        return {
          darasas: []
        }
      },
      mounted() {
      let uri = 'api/darasas';
      this.axios.get(uri).then(response => {
        this.darasas = response.data.list;
        
      });
    },
    methods: {
      deletePost(id)
      {
        let uri = `api/darasas/delete/${id}`;
        this.axios.delete(uri).then(response => {
          this.darasas.splice(this.darasas, 1);
           this.$router.push({name: 'viewdarasa'});
        });
      }
    }
  }
</script>