// Edit

<template>
<div>
    <h1>Edit student</h1>
    <form @submit.prevent="updateStudent">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="student.name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>RegNo:</label>
                    <input type="text" class="form-control" v-model="student.reg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Class:</label>
                    <input type="text" class="form-control" v-model="student.stclass">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Id No:</label>
                    <input type="text" class="form-control" v-model="student.idno">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
</template>

<script>
     export default {

      data() {
        return {
          student: {}
        }
      },
      created() {
        let uri = `http://vueschool.test/api/students/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
          
            this.student = response.data.student;
            console.log(response.data.student);

        }).catch(error=>{
            alert('error')
        });

      },
      methods: {
        updateStudent() {
          let uri = `http://vueschool.test/api/students/update/${this.$route.params.id}`;
          this.axios.put(uri, this.student).then((response) => {
                alert(response.data.message)
                this.$router.push({name:'view'});
          });
       }
     }
    }
</script>