<template>
<div class="container">

    <div>
        <h1>Login</h1>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Enter email" v-model="info.email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" v-model="info.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" @click.prevent="login">Submit</button>
                </div>
            </div>

        </form>

    </div>


</div>
</template>

<script>
export default {
    data(){
        return {
            info:{}
        }
    },

    methods:{
        login(){
           let uri='api/auth/login';
           this.axios.post(uri,this.info).then((response)=>{
           if(response.data.status){
            localStorage.setItem('token',response.data.access_token)
            this.$router.push({name:'dashboard'});
           }else{
               alertify.error(response.data.message)
           }


           }).catch(error=>{
             alert(response.data.message)
           });
        }
    }

}

</script>
