// IndexComponent.vue

<template>
  <div>
      <h1>Registerehhd Students</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
     <router-link :to="{ name: 'create' }" class="btn btn-primary">Create Post</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Reg</th>
                <th>Class</th>
                <th>Id No</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="post in students" :key="post.id">
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.reg }}</td>
                    <td>{{ post.stclass }}</td>
                    <td>{{ post.idno }}</td>
                   <td><router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button></td> 
                    
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
 export default {
      data() {
        return {
          students: []
        }
      },
      mounted() {
      let uri = 'api/students';
      this.axios.get(uri).then(response => {
        this.students = response.data.list;
        
      });
    },
    methods: {
      deletePost(id)
      {
        let uri = `api/students/delete/${id}`;
        this.axios.delete(uri).then(response => {
          this.students.splice(this.students, 1);
          alert(response.data.message);
          this.$parent.reload();
           
        });
      }
    }
  }
</script>